<div ng-include="'components/shell/shell.html'"></div>
<div layout="column">
    <md-input-container>
      <label>Search a book</label>
      <input ng-model="query">
    </md-input-container>

  <md-list class="fixedRows">
			<md-list-item class="md-2-line contact-item selected" ng-repeat="book in books" ng-click="showBookDetails($event, book.best_book[0].id[0]._)">
        <img ng-src="{{book.best_book[0].image_url[0]}}" class="md-avatar"/>
        <div class="md-list-item-text compact">
          <p class="book-title">{{book.best_book[0].title[0]}}</p>
          <p>{{book.best_book[0].author[0].name[0]}}</p>
          <p>{{book.average_rating[0]}}/5 ({{book.ratings_count[0]._}} reviews)</p>
        </div>
      </md-list-item>
	</md-list>
</div>
